*{
    margin:0;
    border: 0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}
#main_Section{
    display:block;
    text-align:center;
    font-weight: 500;
    padding: 15px;
    border-bottom: black 2px solid;
    background-image: url(/images/buchOfMath.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
#main_Section, header, h1{
    color:#fff;
}
#mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/MathBunch.jpg);
    background-size:cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height:100vh;
}
#calculator_Place{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    height: 100%;
    width: 100%;
}
#calculator{
    display:flex;
    justify-content: center;
    justify-items: center;
    border:black 1px solid;
    border-radius: 20px;
    background-color: black ;

    
}

#calculatorTop{
    height: 410px;
    width:300px;
    background-color: rgb(119, 255, 255);
}
#calculatorHead{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 5px;
    background-color: black;
    width:100%;
}
#calculatorHead input{
    text-align:right;
    height: 40px;
    width:100%;
    background-color: grey;
    border: solid 3px black;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    
}
#buttons button{
    margin: 4px;
    width: 55px;
    height: 40px;
    box-shadow: grey 5px 11px ;
    border: 5px solid black;
}
